.wrapper {
    width: 477px;
    height: 437px;
    display: flex;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    flex-shrink: 0;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 14px;

    &>h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 110%;
        letter-spacing: 0%;
        color: black;
    }

    &>h2 {
        margin-top: 10px;
        font-weight: 400;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: center;
        color: black;
    }

    &>ul {
        margin-top: 60px;
        align-self: flex-start;
        color: #737373;
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        letter-spacing: 0%;
        list-style: none;
        padding-left: 0;

        &>li {
            position: relative;
            padding-left: 13px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0.6em;
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: #737373;
            }
        }
    }

    &>button {
        width: 100%;
        padding: 14px 0 14px;
        margin-top: auto;
        background-color: #2985FF;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 12px;
    }

    &.active {
        background: #2985FF;

        &>h1 {
            color: #FFFFFF;
        }

        &>h2 {
            color: #FFFFFF;
        }

        &>ul {
            color: white;

            &>li::before {
                background-color: white;
            }
        }

        &>button {
            background: white;
            color: #2985FF;
        }
    }
}

@media (max-width: 1550px) {
    .wrapper {
        width: 360px;

        &>h1 {
            font-size: 26px;
        }

        &>h2 {
            font-size: 22px;
        }

        &>ul {
            font-size: 20px;
        }

        &>button {
            font-size: 14px;
        }
    }
}

@media (max-width: 1200px) {
    .wrapper {
        width: 375px;
    }
}

@media (max-width: 820px) {
    .wrapper {
        width: 280px;
        height: 380px;

        &>h1 {
            font-size: 24px;
        }

        &>h2 {
            font-size: 20px;
        }

        &>ul {
            margin-top: 35px;
            font-size: 18px;
        }

        &>button {
            font-size: 12px;
        }
    }
}