.wrapper {
    padding: 20px;
    border: 1px solid #C9C9C9;
    background: #FFFFFF;
    border-radius: 14px;
    width: 477px;
    height: fit-content;
    flex-shrink: 0;
}

.head {
    width: 100%;
    display: flex;
    align-items: center;
    height: 38px;
}

.avatar {
    --side: 30px;
    width: var(--side);
    height: var(--side);
    border-radius: 50%;
    background: #D9D9D9;
}

.personalBlock {
    height: 100%;
    margin-left: 8px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    &>h1 {
        width: fit-content;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
    }

    &>p {
        width: fit-content;
        font-weight: 400;
        font-size: 12px;
        line-height: 140%;
        letter-spacing: 0%;
        color: #737373;
    }
}

.ratingBlock {
    width: 100px;
    height: 100%;
    margin-left: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
}

.ratingLine {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row-reverse;
    width: 100%;
    height: 20px;
}

.star {
    --side: 15px;
    width: var(--side);
    height: var(--side);

    &>path {
        fill: #CECECE;
    }

    &.active>path {
        fill: #FBBF25;
    }
}

.dateLine {
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: end;
    color: #737373;
}

.mainText {
    cursor: pointer;
    margin-top: 20px;
    min-height: 80px;
    width: 100%;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #737373;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

@media (max-width: 1550px) {
    .wrapper {
        width: 360px;
    }
    .hiddenPartion{
        display: none;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        width: 375px;
    }
}

@media (max-width: 820px) {
    .wrapper {
        width: 280px;
    }

    .avatar {
        display: none;
    }

    .personalBlock {
        margin-left: 0;

        &>h1 {
            font-size: 14px;
        }

        &>p {
            font-size: 10px;
        }
    }

    .head {
        height: 33px;
    }

    .ratingBlock {
        width: 80px;
    }

    .dateLine {
        font-size: 10px;
    }

    .star {
        --side: 12px;
    }

    .mainText {
        min-height: 67px;
        font-size: 12px;
    }
}