.wrapper {
    overflow: hidden;
    padding: 80px 0 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &>main {
        width: 1470px;

        &>h1 {
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
        }
    }
}

.record {
    width: 100%;
    margin-top: 60px;

    &>h2 {
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
    }
}

.pointGallery {
    margin-top: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sliderWrapper {
    display: none;
    overflow: visible;
    margin-top: 30px;
    width: 672px;
}

.slider {    
    & * {
        overflow: visible;
    }
}

@media (max-width: 1550px) {
    .wrapper>main {
        width: 1122px;
    }

    .oneCard {
        width: 216px;
        height: 122px;
    }
}

@media (max-width: 1200px) {
    .wrapper>main {
        width: 770px;
    }

    .oneCard {
        width: 146px;
        height: 84px;
    }
}

@media (max-width: 820px) {
    .wrapper>main {
        width: 280px;

        &>h1 {
            font-size: 24px;
        }
    }

    .record {
        margin-top: 38px;

        &>h2 {
            font-size: 18px;
        }
    }

    .pointGallery {
        margin-top: 20px;
    }

    .oneCard {
        width: 216px;
        height: 122px;
    }

    .pointGallery {
        display: none;
    }

    .sliderWrapper {
        display: block;
    }
}