.wrapper {
    padding: 24px 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    
    &>main {
        width: 1472px;
        min-height: 525px;

        &>h1 {
            margin-top: -10px;
            width: fit-content;
            background: linear-gradient(87.79deg, #2EE9A9 1.47%, #008DF2 105.22%);
            font-weight: 600;
            font-size: 48px;
            letter-spacing: 0%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

            background-clip: text;
            color: transparent;
        }
    }
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 30px;
}

.sliiderWrapper {
    display: none;
    width: 280px;
    overflow: visible;
}

.slider {
    width: 570px;

    & * {
        overflow: visible;
    }
}

@media (max-width: 1550px) {
    .wrapper>main {
        width: 1122px;
    }
}

@media (max-width: 1200px) {
    .wrapper>main {
        width: 770px;
    }
}

@media (max-width: 820px) {
    .wrapper>main {
        width: 280px;
        overflow: visible;

        &>.container {
            display: none;
        }
    }

    .sliiderWrapper {
        display: block;
    }
}