.wrapper {
    width: 100%;
    padding: 26px 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &>main {
        width: 1472px;
        padding: 40px;
        border-radius: 14px;
        border: 1px solid #E5E5E5;
        background: #FFFFFF;
    }
}

.title {
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 0%;
    background: linear-gradient(87.79deg, #2EE9A9 1.47%, #008DF2 105.22%);
    width: fit-content;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@media (max-width: 1550px) {
    .wrapper>main {
        width: 1122px;
    }
}

@media (max-width: 1200px) {
    .wrapper>main {
        width: 770px;
    }

    .title {
        font-size: 34px;
    }
}

@media (max-width: 820px) {
    .wrapper>main {
        width: 280px;
        padding: 20px;
    }
}