.wrapper {
    padding: 18px 0 18px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    width: 1472px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #737373;
}

@media (max-width: 1550px) {
    .content {
        width: 1122px;
    }
}

@media (max-width: 1200px) {
    .content {
        width: 770px;
    }
}

@media (max-width: 820px) {
    .content {
        width: 280px;
    }
}