.wrapper {
    width: 100%;
    height: 1080px;
    position: relative;
    overflow: hidden;

    &>main {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>h1 {
            font-weight: 700;
            font-size: 96px;
            letter-spacing: 0%;
            color: #000000;
            overflow: visible;
            height: 116px;

            &:first-of-type {
                margin-top: 156px;
            }

            &:last-of-type {
                margin-top: -47px;
                height: auto;
                background:
                    linear-gradient(87.79deg, #2EE9A9 1.47%, #008DF2 105.22%);

                /* показываем градиент внутри текста */
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                /* для Firefox */
                background-clip: text;
                color: transparent;
            }

            &:not(:first-of-type) {
                margin-top: -19px;
            }
        }
    }

}

.descBlock {
    margin-top: 30px;
    width: 1000px;
    min-height: 112px;
    font-size: 20px;

    &>div {
        font-weight: 400;
        height: 1.4em;
        letter-spacing: 0%;
        text-align: center;
        color: #737373;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.point {
    --side: 6px;
    margin-top: 2px;
    width: var(--side);
    background-color: #737373;
    margin-right: 13px;
    border-radius: 50%;
    height: var(--side);
}

.back {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image:
        linear-gradient(180deg, transparent 50%, #F5F5F5 100%),
        repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 50px),
        repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 50px);
}

.send {
    width: 316px;
    height: 48px;
    margin-top: 50px;
    background-color: #2985FF;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 12px;
    cursor: pointer;
}

.signature {
    position: absolute;
    z-index: 3;
    left: 224px;
    bottom: 80px;
    font-weight: 400;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #101010;
    width: 300px;
    word-break: break-word;
    overflow-wrap: break-word;
}

.whyBlockContainer {
    position: absolute;
    width: 333px;
    height: 131px;
    right: 224px;
    bottom: 80px;
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    border-radius: 14px;
    z-index: 3;
    padding: 20px 16px 20px 20px;
}

.whyBlock {
    width: 100%;
    height: 100%;
    position: relative;

    &>div {
        position: absolute;
        z-index: 4;
    }
}

.whyWe {
    top: 0;
    left: 0;
    color: #737373;
    font-weight: 600;
    line-height: 140%;
    letter-spacing: 0%;
}

.indicators {
    left: 0;
    top: 36px;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.stats {
    left: 0;
    bottom: 0;

    &>span {
        font-size: 14px;
        letter-spacing: 0%;
        line-height: 140%;

        &:first-of-type {
            font-weight: 700;
            color: #0FB981;
        }

        &:last-of-type {
            font-weight: 400;
            margin-left: 4px;
            color: #737373;
        }
    }
}

.label {
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #A5F4CF;
    display: flex;
    justify-content: center;
    align-items: center;

    &>img {
        --side: 30px;
        width: var(--side);
        height: var(--side);
    }
}

.shortText {
    display: none;
}

@media (max-width: 1450px) {
    .wrapper {
        height: 900px;

        &>main>h1 {
            font-size: 64px;

            &:first-of-type {
                margin-top: 136px;
            }

            &:not(:first-of-type) {
                margin-top: -49px;
            }
        }
    }

    .signature {
        font-size: 20px;
        width: 240px;
        left: calc((100vw - 1040px) / 2);
        bottom: 90px;
    }

    .whyBlockContainer {
        bottom: 90px;
        right: calc((100vw - 1040px) / 2);
    }
}


@media (max-width: 1140px) {
    .whyBlockContainer {
        right: 50px;
    }

    .signature {
        left: 50px;
    }
}


@media (max-width: 1082px) {
    .wrapper {
        height: 800px;

        &>main>h1 {
            font-size: 48px;

            &:first-of-type {
                margin-top: 120px;
            }

            &:not(:first-of-type) {
                margin-top: -69px;
            }
        }
    }

    .descBlock {
        font-size: 16px;
    }
}

@media (max-width: 730px) {

    .wrapper {
        height: 640px;
        &>main>h1 {
            letter-spacing: -0.02em;
            font-size: 30px;

            &:first-of-type {
                margin-top: 95px;
            }

            &:not(:first-of-type) {
                margin-top: -82px;
            }
        }
    }

    .descBlock {
        max-width: 280px;
        margin-top: 20px;
        &>div {
            display: inline-block;
            height: auto;
            line-height: 120%;
            margin-bottom: 0.8em;
            &>div {
                display: inline-block;
            }

        }
    }

    .fullText {
        display: none;
    }

    .shortText {
        display: inline;
    }

    .send>span {
        display: none;
    }

    .whyBlockContainer {
        display: none;
    }

    .signature {
        display: none;
    }

    .send{
        margin-top: 92px;
        width: 280px;
    }
}