.wrapper {
    padding-top: var(--header-height);
    width: 100%;
    height: 1080px;
    position: relative;
    overflow: hidden;

    &>main {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;

        &>h1 {
            font-weight: 700;
            font-size: 96px;
            letter-spacing: 0%;
            color: #000000;
            overflow: visible;
            height: 116px;

            &:first-of-type {
                margin-top: 156px;
            }

            &:last-of-type {
                margin-top: -47px;
                height: auto;
                background:
                    linear-gradient(87.79deg, #2EE9A9 1.47%, #008DF2 105.22%);

                /* показываем градиент внутри текста */
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;

                /* для Firefox */
                background-clip: text;
                color: transparent;
            }

            &:not(:first-of-type) {
                margin-top: -19px;
            }
        }
    }

}

.descBlock {
    margin-top: 30px;
    width: 1000px;
    min-height: 112px;

    &>div {
        font-weight: 400;
        font-size: 20px;
        height: 1.4em;
        letter-spacing: 0%;
        text-align: center;
        color: #737373;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.point {
    --side: 6px;
    margin-top: 2px;
    width: var(--side);
    background-color: #737373;
    margin-right: 13px;
    border-radius: 50%;
    height: var(--side);
}

.back {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: white;
    background-image:
        repeating-linear-gradient(to right, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 50px),
        repeating-linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 1px, transparent 1px, transparent 50px),
        linear-gradient(180deg, transparent 50%, #F5F5F5 100%);
    ;
}