.wrapper {
    position: relative;
    width: 333px;
    height: 200px;
    flex-shrink: 0;
    background: #F5F5F5;
    border-radius: 12px;
    padding: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;


    &:last-of-type {
        background-color: #2985FF;
        color: #FFFFFF;
    }
}

.label {
    --side: 40px;
    position: absolute;
    z-index: 2;
    width: var(--side);
    height: var(--side);
    background-color: #FFFFFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 20px;

    &>img {
        --side: 30px;
        width: var(--side);
        height: var(--side);
    }
}

@media (max-width: 820px) {
    .wrapper {
        width: 248px;
        height: 170px;
        font-size: 14px;
    }
}