.wrapper {
    width: 74px;
    height: 32px;
    cursor: pointer;
    &>img{
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 820px) {
    .wrapper {
        width: 56px;
        height: 24px;
    }
}