.wrapper {
    padding: 24px 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    &>main {
        width: 1472px;
        border: 1px solid #E5E5E5;
        border-radius: 14px;
        background: #FFFFFF;
        padding: 40px;
        display: flex;
        justify-content: space-between;
    }
}

.textBlock,
.formBLock {
    width: 686px;
}

.textBlock {
    &>h1 {
        color: #2985FF;
        font-weight: 600;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    &>p {
        font-weight: 400;
        font-size: 30px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #737373;
        margin-top: 20px;
    }
}

.formBLock {
    &>p {
        color: #737373;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 8px;

        &:not(:first-of-type) {
            margin-top: 20px;
        }
    }

    &>input,
    &>textarea {
        background: #F5F5F5;
        padding-left: 12px;
        width: 100%;
        border-radius: 12px;
        color: #000000;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;

        &::placeholder {
            color: #A3A3A3;
        }
    }

    &>input[type='text'],
    &>input[type='tel'] {
        height: 48px;
        display: flex;
        align-items: center;
    }

    &>textarea {
        padding: 12px;
        height: 140px;
        color: #000000;
        font-weight: 400;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;

        &::placeholder {
            color: #A3A3A3;
        }
    }

    &>button {
        width: 100%;
        background: #2985FF;
        height: 48px;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #FFFFFF;
        cursor: pointer;
        margin-top: 20px;
    }
}

.checkBlock {
    --side: 22px;
    display: flex;
    margin-top: 10px;
    height: var(--side);
    align-items: center;

    &>div {
        height: var(--side);
        width: var(--side);
        border: 1px solid #E5E5E5;
        border-radius: 4px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &>img {
            display: none;
            width: 10px;
            height: 8px;
        }

        &.select {
            border-color: #2985FF;

            &>img {
                display: block;
            }
        }
    }

    &>p {
        margin-left: 8px;
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #737373;
    }
}


@media (max-width: 1550px) {
    .wrapper>main {
        width: 1122px;
    }

    .textBlock,
    .formBLock {
        width: 511px;
    }

    .textBlock>p {
        font-size: 24px;
    }
}

@media (max-width: 1200px) {
    .wrapper>main {
        width: 770px;
    }

    .textBlock,
    .formBLock {
        width: 335px;
    }

    .textBlock {
        &>h1 {
            font-size: 34px;
        }

        &>p {
            font-size: 20px;
            line-height: 110%;
        }
    }
}

@media (max-width: 820px) {
    .wrapper>main {
        width: 280px;
        padding: 20px;
        flex-direction: column;
        gap: 30px;
        justify-content: flex-start;
    }

    .textBlock,
    .formBLock {
        width: 240px;
    }

    .textBlock {
        &>h1 {
            font-size: 30px;
        }

        &>p {
            font-size: 14px;
            line-height: 120%;
        }
    }

    .formBLock {
        &>p {
            font-size: 14px;
        }

        &>input,
        &>textarea {
            font-size: 14px;
        }
    }

    .checkBlock {
        --side: 22px;

        &>p {
            font-size: 16px;
        }

        & img {
            width: 8px;
            height: 6px;
        }
    }
}