.wrapper {
    width: 100%;
    height: auto;
    padding: 24px 0 80px;
    display: flex;
    align-items: center;
    justify-content: center;

    &>main {
        width: 1472px;

        &>h1 {
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;
        }

        &>p {
            font-weight: 400;
            font-size: 14px;
            line-height: 140%;
            letter-spacing: 0%;
            color: #737373;
            margin-top: 10px;
        }

        &>div {
            width: 100%;
            margin-top: 30px;
            display: flex;
            justify-content: space-between;
        }
    }
}

.infoBlock,
.previewBlock {
    width: 726px;
    border: 1px solid #E5E5E5;
    background: #FFFFFF;
    border-radius: 14px;
}

.infoBlock {
    padding: 24px 20px 24px 20px;
}

.step {
    position: relative;
    --imgSide: 26px;
    width: 100%;
    display: flex;
    align-items: flex-start;

    &>.wrapperNumber {
        position: absolute;
        z-index: 2;
        padding: 4px;
        margin-top: -4px;
        margin-left: -4px;
        background-color: white;

        &>img {
            width: var(--imgSide);
            height: var(--imgSide);
            border-radius: 50%;
            border: 2px solid #2985FF;
        }
    }

}


.textBlock {
    margin-left: 12px;
    border-left: 2px solid #2985FF;
    padding: 3px 0 19px 30px;
    
    &>h1 {
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0%;
        color: #000000;
    }

    &>p {
        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
        letter-spacing: 0%;
        color: #737373;
    }
}

.infoBlock>div:last-child .step>.textBlock {
    border-left-color: transparent;
}

.previewBlock {
    padding: 30px;
    object-fit: contain;
    object-position: center center;
    height: 329px;
}

@media (max-width: 1550px) {
    .wrapper>main {
        width: 1122px;
    }

    .infoBlock {
        width: 742px;
    }

    .previewBlock {
        width: 360px;
    }
}

@media (max-width: 1200px) {
    .wrapper>main {
        width: 770px;
    }

    .infoBlock {
        width: 770px;
    }

    .previewBlock {
        display: none;
    }
}

@media (max-width: 820px) {
    .wrapper>main {
        width: 280px;
    }
}