.placeholder,
.wrapper {
    width: 278px;
    height: 160px;
}

.wrapper {
    border-radius: 14px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &>img {
        border-radius: inherit;
        min-width: 100%;
        min-height: 100%;
        object-fit: contain;
    }
}

@media (max-width: 1550px) {

    .placeholder,
    .wrapper {
        width: 216px;
        height: 122px;
    }
}

@media (max-width: 1200px) {

    .placeholder,
    .wrapper {
        width: 146px;
        height: 84px;
    }
}

@media (max-width: 820px) {
    .wrapper {
        width: 216px;
        height: 122px;
    }

    .placeholder {
        display: none;
    }
}