.placeholder,
.wrapper {
    width: 278px;
    height: 160px;
}

.wrapper {
    border-radius: 14px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    &>img {
        border-radius: inherit;
        min-width: 100%;
        min-height: 100%;
        object-fit: contain;
    }
}