.wrapper {
    width: 100%;
    padding: 24px 0 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 1472px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.textBlock {
    width: 986px;
}

.title {
    width: fit-content;
    font-weight: 600;
    font-size: 48px;
    letter-spacing: 0%;
    background: linear-gradient(87.79deg, #2EE9A9 1.47%, #008DF2 105.22%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.desc {
    width: 100%;
    font-weight: 400;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0%;
    color: #737373;
    margin-top: 20px;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.send {
    cursor: pointer;
    padding: 14.5px 20px;
    background: #2985FF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0%;
    border-radius: 12px;
}

.textBlock>.send {
    display: none;
}

.mobBreak {
    display: none;
}

@media (max-width: 1550px) {
    .container {
        width: 1122px;
    }

    .textBlock {
        width: 624px;
    }

    .title {
        font-size: 30px;
        line-height: 110%;
    }

    .desc {
        font-size: 14px;
    }
}

@media (max-width: 1200px) {
    .container {
        width: 770px;
    }

    .textBlock {
        width: 444px;
    }
}

@media (max-width: 820px) {
    .container {
        width: 280px;
    }

    .container>.send {
        display: none;
    }

    .send {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 50px;
    }

    .textBlock>.send {
        display: block;
    }

    .mobBreak {
        display: block;
    }
}