.wrapper {
    width: 100%;

    &:not(:first-of-type) {
        margin-top: 60px;
    }

    &:first-of-type {
        margin-top: 30px;
    }
}

.gallery {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;

    &>img {
        width: 686px;
        height: 400px;
        border-radius: 12px;
        background-color: #F5F5F5;
        border: 1px solid #E5E5E5
    }
}

.resultBlock {
    width: 100%;
    margin-top: 20px;
}

.titleBlock>span,
.resultBlock>span {

    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;

    &:first-of-type {
        font-weight: 600;
    }

    &:not(:first-of-type) {
        font-weight: 400;
    }
}

@media (max-width: 1550px) {
    .wrapper>main {
        width: 1122px;
    }

    .gallery>img {
        width: 511px;
    }
}

@media (max-width: 1200px) {
    .wrapper>main {
        width: 770px;
    }

    .gallery>img {
        width: 335px;
        height: 300px;
    }

    .titleBlock>span,
    .resultBlock>span {
        font-size: 20px;
    }

}

@media (max-width: 820px) {
    .wrapper>main {
        width: 280px;
    }

    .gallery {
        height: 300px;
        flex-direction: column;
        &>img {
            width: 240px;
            height: 145px;
        }
    }

    .titleBlock>span,
    .resultBlock>span {
        font-size: 14px;
    }
}