.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 26px 0 80px;

    &>main {
        width: 1474px;
        background: #FFFFFF;
        border-radius: 14px;
        border: 1px solid #E5E5E5;
        padding: 40px;

        &>h1 {
            margin-top: -14px;
            background: linear-gradient(87.79deg, #2EE9A9 1.47%, #008DF2 105.22%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: fit-content;
            background-clip: text;
            color: transparent;

            font-weight: 600;
            font-size: 48px;
            letter-spacing: 0%;

        }

        &>h2 {
            margin-top: -8px;
            font-weight: 400;
            font-size: 36px;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 35px;
}


@media (max-width: 1550px) {
    .wrapper>main {
        width: 1122px;
    }
}

@media (max-width: 1200px) {
    .wrapper>main {
        width: 770px;
    }
}

@media (max-width: 820px) {
    .wrapper>main {
        width: 280px;
        padding: 16px;

        &>h1 {
            font-weight: 600;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            margin-top: 0;
        }

        &>h2 {
            margin-top: 0;
            font-weight: 400;
            font-size: 20px;
            line-height: 100%;
            letter-spacing: 0%;
        }
    }

    .container {
        margin-top: 20px;
    }
}