.wrapper {
  width: 100%;
}

.slider {
  width: 100%;
}

.slide {
  height: auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.item {
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}

.dot {
  all: unset;
  cursor: pointer;
  transition: opacity 0.2s ease;
}
